/* insert.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: url(./bg.jpg) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wallet-box {
  background-color: #19264b; /* Dark blue background */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

.wallet-form h2 {
  color: #fff;
  margin-bottom: 15px;
}

.wallet-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 16px;
}

.password-field {
  display: flex;
  align-items: center;
  position: relative;
}

.password-field input {
  width: calc(100% - 30px); /* Reserve space for the eye icon */
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.search-btn {
  width: 100%;
  background-color: #1f6ff8; /* Bright blue button */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #3b83ff;
}